
<div id="parent"> 
    <section class="float-left">
        <div class="example-button-row">
    <button mat-raised-button color="">حفظ المورد</button>
    <button mat-raised-button color="primary">حفظ التغيرات</button>
    </div>
    <span class="example-label">مفعلة</span>
    <mat-slide-toggle></mat-slide-toggle>
    
    </section>
    <section class="float-right" >

        <div class="example-label">اضافة موارد جديدة</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

</div>













    
    </div>
    </section>
    </div>
