<mat-card id="" class="container">
  <section class="float-right">
    <mat-card-content>حدد مواعيد العمل للمورد</mat-card-content>
    <p>تكوين اعدادات الاسبوع الخاصه بك</p>
    
  </section>

  <section class="float-left">
    <div class="example-button-row">
      <button mat-raised-button color="">اعدادات متقدمة</button>
      <button mat-raised-button color="primary">اعدادات تقليدية</button>
    </div>
  </section>
</mat-card>

<mat-card class="container">
  <div id="days" class="float-right">
    <mat-slide-toggle></mat-slide-toggle>
    <span class="example-label">السبت</span>
  </div>
</mat-card>

<mat-card class="container  ">
  <div id="days" class="float-right">
    <mat-slide-toggle></mat-slide-toggle>
    <span class="example-label">الاحد</span>
  </div>
  <div class="start">وقت البدء
    <input [ngxTimepicker]="picker">
    <ngx-material-timepicker #picker></ngx-material-timepicker>
  </div>
  <div class="end">وقت الانتهاء
    <input [ngxTimepicker]="picker">
    <ngx-material-timepicker #picker></ngx-material-timepicker>
  </div>
  <div class="example-button-container sunday float-left ">
    <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon">
      <mat-icon>bookmark</mat-icon>
    </button>
  </div>
</mat-card>
<mat-card class="container">
  <div id="days" class="float-right">
    <mat-slide-toggle></mat-slide-toggle>
    <span class="example-label">الاثنين</span>
  </div>
  <div class="start">وقت البدء
    <input [ngxTimepicker]="picker">
    <ngx-material-timepicker #picker></ngx-material-timepicker>
  </div>
  <div class="end">وقت الانتهاء
    <input [ngxTimepicker]="picker">
    <ngx-material-timepicker #picker></ngx-material-timepicker>
  </div>
  <div class="example-button-container sunday">
    <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon">
      <mat-icon>bookmark</mat-icon>
    </button>
  </div>

  
</mat-card>
<mat-card class="container">
  <div id="days" class="float-right">
    <mat-slide-toggle></mat-slide-toggle>
    <span class="example-label">الثلاثاء</span>
  </div>
  
  <div class="start">وقت البدء
    <input [ngxTimepicker]="picker">
    <ngx-material-timepicker #picker></ngx-material-timepicker>
  </div>
  <div class="end">وقت الانتهاء
    <input [ngxTimepicker]="picker">
    <ngx-material-timepicker #picker></ngx-material-timepicker>
  </div>
  <div class="example-button-container sunday">
    <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon">
      <mat-icon>bookmark</mat-icon>
    </button>
  </div>
  
</mat-card>
<mat-card class="container">
  <div id="days" class="float-right">
    <mat-slide-toggle></mat-slide-toggle>
    <span class="example-label">الاربعاء</span>
  </div>
  <div class="start">وقت البدء
    <input [ngxTimepicker]="picker">
    <ngx-material-timepicker #picker></ngx-material-timepicker>
  </div>
  <div class="end">وقت الانتهاء
    <input [ngxTimepicker]="picker">
    <ngx-material-timepicker #picker></ngx-material-timepicker>
  </div>
  <div class="example-button-container sunday">
    <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon">
      <mat-icon>bookmark</mat-icon>
    </button>
  </div>


</mat-card>
<mat-card class="container">
  <div id="days" class="float-right">
    <mat-slide-toggle></mat-slide-toggle>
    <span class="example-label">الخميس</span>
  </div>
  <div class="start">وقت البدء
    <input [ngxTimepicker]="picker">
    <ngx-material-timepicker #picker></ngx-material-timepicker>
  </div>
  <div class="end">وقت الانتهاء
    <input [ngxTimepicker]="picker">
    <ngx-material-timepicker #picker></ngx-material-timepicker>
  </div>
  <div class="example-button-container sunday">
    <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon">
      <mat-icon>bookmark</mat-icon>
    </button>
  </div>


</mat-card>
<mat-card class="container">
  <div id="days" class="float-right">
    <mat-slide-toggle></mat-slide-toggle>
    <span class="example-label">الجمعة</span>
  </div>
</mat-card>

<mat-divider></mat-divider>






<!-- <div class="ngx-timepicker-field-example">
  <ngx-timepicker-field [defaultTime]="'11:11 am'"></ngx-timepicker-field>
</div>
<div class="ngx-timepicker-field-example">
  <ngx-timepicker-field [format]="24" [defaultTime]="'23:11'"></ngx-timepicker-field>
</div>
<div class="ngx-timepicker-field-example">
  <ngx-timepicker-field [format]="24" [defaultTime]="'23:11'"></ngx-timepicker-field>
</div> -->




















<!-- <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
ng-model-options="{timezone: 'utc'}" min-date="minDate" type="text" id="timez"
format="HH:mm" edit-input="true" show-icon="true" ng-model="timez" class=" dtp-no-msclear dtp-input md-input"> -->




<!-- 
<mat-form-field style="width:88%;">
  <mat-select placeholder="Contact *" formControlName="contact">
     <mat-option *ngFor="let contact of contacts" [value]="contact">
       <mat-icon [ngStyle]="{'color': contact.color}">home</mat-icon>{{contact.institution}} 
     </mat-option>
  </mat-select>
</mat-form-field> -->
