#parent{
    display: flow-root;

}
mat-card{
    /* color: beige; */
    height:70px ;
    direction: rtl;
    margin-top: 20px;
}
#days{
    margin-top: 20px;
}
.start{
    margin-left: 550px;
    margin-top: 18px;
    position: absolute;
    left: 420px;
}
.end{
    margin-left: 260px;
    margin-top: 18px;
    position: absolute;
    left: 360px;
    
}
.sunday{
    margin-top: 7px;
    
    position: absolute;
    left: 35px;

}
.child{
    position: relative;
    
}
